body {
  margin: 0;
  font-family: sans-serif;
}

.content{
  text-align: center;
}

table, th, td {
  border-collapse: collapse;
  border: 1px solid black;
}

.table_elem{
  width: 30%;
  margin: auto;
}

form{
  margin-top: 10px;
  padding: 5px;
}